*{
    margin: 0px;
    color: black;
    font-family: 'Inter', sans-serif;
    
}

h1{
    color: rgb(15, 173, 173);
}

li{
    color: rgb(15, 173, 173);
    padding: 16px;
    margin: 40px 0px 40px 0px;

}


ul{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    list-style-type: none;
    background: #faadc3;
}

#secao-img{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin: 100px 50px 50px 50px;
    
    
    
}

.texto{
    margin-top: 150px;
    margin-left: 50px;
}

.img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    transition: 6s;


}

#formulario{
    background: #faadc3;
    text-align: center;
    
}
#titulo-form{
    font-size: 30px;
    padding: 30px;
    margin-bottom: 20px;
} 

input{
    display: flex;
    flex: content;
    margin: 10px 570px;
    border-radius: 10px;
    border: 0px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}

select{
    display: flex;
    flex: content;
    margin: 10px 570px;
    border-radius: 10px;
    border: 0px;
    width: 212px;
    height: 30px;
    padding-left: 10px;
}

button{
    cursor: pointer;
    margin: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(224, 211, 211);
    color: rgb(15, 173, 173);
    font-weight: bolder;
    
}

#rodape{
    background: rgb(240, 233, 233);
    
}

.lista{
    background: rgb(240, 233, 233);
    margin-left: 13%;
}

.dev{
  font-size: 10px;
  margin-left: 295px;
  background: rgb(240, 233, 233);
  padding: 10px;
  cursor: pointer;
  color:  rgb(15, 173, 173);;
}

a{
    color: rgb(15, 173, 173);
    padding: 16px;
    margin: 40px 0px 40px 0px;
    text-decoration: none;
}

#slide-img{
    overflow: hidden;
    display: flex;
    margin: 0px 50px -250px 50px;
    
}